/* ----------- VARIABLES    */
	@color_primario: #4c9647;
	@color_secundario: #DDD;
	@color_terciario: #ebe029;

/* ----------- FUENTES      */
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.montserrat{
		font-family: 'Montserrat', sans-serif;
	}
	body{
		font-size: 18px;
	}
	.semi-bold{
		font-weight: 500;
	}
	.negritas{
		font-weight: 700;
	}

/* ----------- COLORES      */
	a,
	a:hover,
	.uk-navbar-dropdown-nav>li>a,
	.color-general{
		color: black;
	}
	em,
	.active,
	.buybutton,
	.uk-navbar-dropdown-nav>li>a:hover,
	.color-primary,
	.color-primary-hover:hover{
		color: @color_primario;
	}
	.buybutton:hover,
	.social,
	.color-secondary{
		color: @color_secundario;
	}
	.color-terciario{
		color: @color_terciario;
	}
	.color-verde{
		color: #22cf5b;
	}
	.color-rojo{
		color: #c4262e;
	}
	.color-rojo-vivo{
		color: #ff0000;
	}
	.color-gris-9{
		color: #8c8b8b;
	}
	.color-gris-7{
		color: #777;
	}
	.color-gris-6{
		color: #666;
	}
	.color-gris-4{
		color: #444;
	}
	.color-gris{
		color: #a7a6a4;
	}
	.color-gris-3{
		color: #333;
	}
	.color-gris-2{
		color: #222;
	}
	.color-gris-a,
	.color-gris-a:hover{
		color: #a6a8ab;
	}
	.color-gris-d{
		color: #ddd;
	}
	.uk-accordion-title:focus,
	.uk-accordion-title:hover,
	.color-blanco,
	.color-blanco:hover{
		color: white;
	}
	.uk-slidenav,
	.color-negro{
		color: black;
	}

/* ----------- FONDOS       */
	.bg-primary{
		background: @color_primario;
	}
	.ajax-file-upload{
		background: @color_primario!important;
	}
	.bg-secondary{
		background: @color_secundario;
	}

	.uk-slidenav,
	.bg-none{
		background: none;
	}
	.bg-danger,
	.bg-red{
		background: #ff5d55;
	}
	.bg-success{
		background: #9CDAB7;
	}
	.bg-blue{
		background: #32b4cc;
	}
	.bg-warning,
	.bg-yellow{
		background: #f6b61a;
	}

	.uk-navbar-dropdown,
	.bg-white{
		background: white;
	}
	.bg-gris-claro{
		background: #DDD;
	}
	.bg-gris{
		background: #888;
	}
	.uk-subnav-pill > .uk-active > a,
	.bg-gris-oscuro{
		background: #444;
	}
	.bg-black{
		background: black;
	}

	.bg-dark{
		background: rgba(0,0,0,.8);
	}
	.bg-oscuro{
		background: rgba(0,0,0,.5);
	}
	.bg-claro{
		background: rgba(250,250,250,.7);
	}

	.bg-test1{
		background: #ff0;
	}
	.bg-test2{
		background: #f0f;
	}
	.bg-test3{
		background: #0ff;
	}
	.grayscale{
		filter: grayscale(100%);
	}
	.grayscale:hover{
		filter: grayscale(0%);
		transition: .5s;
	}

/* ----------- NAVEGACIÓN   */
	.uk-navbar-nav > li > #show,
	.uk-navbar-nav > li > a,
	.uk-navbar-item,
	.uk-navbar-toggle {
		border-bottom: solid 3px transparent;
		color: #666;
		font-size: 1.1em;
		padding: 0 20px;
		min-height:32px;
		font-weight:500!important;
		text-transform: capitalize;
		font-family: 'Montserrat', sans-serif!important;
		cursor:pointer;
	}
	.uk-navbar-nav > li > #show{font-size: .91em;margin-top:3px!important;padding: 0!important;}
	.uk-navbar-nav > li:hover > #show,
	.uk-navbar-nav > li > #show:hover,
	.uk-navbar-nav > li > a:focus,
	.uk-navbar-nav > li.uk-active > a,
	.uk-navbar-nav > li:hover > a,
	.uk-navbar-nav > li > a:focus,
	.uk-navbar-nav > li > a.uk-open {
		border-bottom: solid 3px #666!important;
		color: #666;
		outline: none;
	}
	.uk-navbar-dropdown-nav{
		text-align: left;
	}
	.uk-navbar-dropdown {
		margin: 0;
	}
	.uk-navbar-dropdown-nav>li>a{
		font-size: 18px;
		margin: 0;
		padding-left: 5px;
	}


	/* Off canvas */
	.uk-offcanvas-bar{
		background:  rgba(255,255,255, 1);
	}
	.uk-offcanvas-bar a{
		border:solid 1px transparent;
		color: #000!important;
		background: transparent;
		font-size: 1.6em!important;
		text-align: left;
		padding-left: 10px!important;
		font-weight:400;
	}

	.uk-offcanvas-bar a:hover{
		text-decoration:underline;
	}

	.uk-offcanvas-bar li{
		border-radius: 10px;
		margin-top: 5px;
	}

	.uk-offcanvas-bar .uk-nav-sub a{
		padding-left: 20px;
		background-color: transparent!important;
		border:solid transparent!important;
	}
	.uk-offcanvas-overlay::before{
		background: rgba(0,0,0,.5);
	}
	.uk-nav-center.uk-nav-parent-icon>.uk-parent>a::after{
		position: relative;
	}
	.uk-offcanvas-close {
	    right: 60px; color:#000!important;font-size:40px
	}
	.uk-nav-parent-icon>.uk-parent>a::after{background-color:#666}
	.uk-accordion-title::before,
	.uk-open > .uk-accordion-title::before{color:#000!important}

/* ----------- TEMPLATE     */
	/* VISTAS Vero css*/

		/* ----------- textos     */
		.gris{color:#6c6c6c!important;}
		.negro{color:#000;}
		.blanco{color:#fff;}
		.txt-8{font-size:8px}
		.txt-10{font-size:10px}
		.txt-12{font-size:12px}
		.txt-14{font-size:14px}
		.txt-16{font-size:16px}
		.txt-20{font-size:20px}
		.txt-22{font-size:22px}
		.txt-30{font-size:30px}
		.bold500{font-weight:500;}
		.bold600{font-weight:600;}
		.space{letter-spacing:2px}
		.space4{letter-spacing:4px}
		.line{line-height: 1;}

		.mar-pad-r, p{margin:0;padding:0;}
		.pad-5{padding:5px 0}
		.pad-15{padding:15px 0}
		.pad-25-0{padding:25px 0}
		.pad-0-25{padding:0 25px}
		.pad-45-0{padding:45px 0}
		.pad-2-0{padding:2em 0!important}
		.pad-0-5{padding:0 5px}
		.padding-10{padding:10px}

		.pad-t-5{padding-top:5px}
		.pad-t-25{padding-top:25px}
		.pad-t-65{padding-top:65px}

		
	
		/* ----------- MANIPULACION uikid     */
		.uk-divider-vertical{border-left: 1px solid #6c6c6c;}
		.uk-navbar-nav, .uk-navbar-nav > li{margin:0!important;padding: 0 .9em}
		.uk-navbar-nav > li > a{margin:0!important;padding:0!important;font-weight:600;font-size:16px}
		.uk-accordion-title::before{margin-top: -9px;}
		.uk-card-default{box-shadow: 0 5px 15px rgba(0,0,0,.2)!important;}
		

		/* VISTAS contenido */
		.container-base{padding:.4em;}
			.col-izq{
				width:50px!important; border-bottom:solid #6c6c6c 1px; border-right:solid #6c6c6c 1px;
			}
			.cont-center{border-bottom:solid #6c6c6c 1px;}
			.col-der{
				width:50px!important; border-bottom:solid #6c6c6c 1px; border-left:solid #6c6c6c 1px;
			}
			.col-izq-menu{
				width:50px!important; border-right:solid #6c6c6c 1px;
			}
			.cont-center-menu{}
			.col-der-menu{
				width:50px!important; border-left:solid #6c6c6c 1px;
			}
		.uk-accordion-title{color:#999;}
		.uk-accordion-title::before{content: "+";color:#fff;margin-top:2px;text-align:right;}
		.uk-open>.uk-accordion-title::before{content: "-";color:#fff;margin-top:2px;text-align:right;}

		.redes-cont{border: solid 1px #fff; background-color:#fff;border-radius:100%;width:30px;height:30px}
		.redes{color:#6c6c6c}
		.redes-cont:hover{border: solid 1px #6c6c6c; background-color:#6c6c6c;border-radius:100%}
		.redes-cont:hover .redes{color:#fff;text-decoration:underline;}

		.cont-footer{padding:.2em}
		.footer-bg{background-color:#6c6c6c;}
		.footer-margen{padding:.2em 0!important}
		.footer-bolsa{background-color:#6c6c6c;color:#fff;}
		.cont-bolsa{position:relative;z-index:1}
		.i-bolsa{padding-top:14px;}
		.num-bolsa{background-color:#fff;border:solid 1px#6c6c6c;border-radius:100%;color:#6c6c6c;font-size:10px;
						margin-top:-14px!important;padding:2px;position: absolute;z-index:3;
						min-height:15px;min-width:15px;right:5px}
		.footer-menu{padding:10px}
		.menu-title{color:#fff; border-bottom:solid 1px #fff;font-size:14px;letter-spacing:2px;font-weight:500;}
		.menu-txt{color:#fff;font-size:12px}

		.line-bolsa{background-color: #fff;margin-top: -25px;position: absolute; right: 14px;width: 23px;}
	
		.cont-ul{margin-top:-40px;z-index:3;position: absolute;right:100px;}
		.cont-prod{border-bottom:solid 1px #b2b2b2;}
		.height-110{height:110px}
		.height-172{height:172px}
		.height-14o5{height:14.5em}
		.height-200{height:200px}
		.height-210{height:210px}
		.height-266{height:266px}
		.height-320{height:310px}
		.height-560{height:560px}
		.height-560-nosotros{height:560px}
		.height-index-espacio{height: 250px;}
		.height-index-subasta{height:20em;}
		.height-subastas-sub{height: 300px}
		.height-max-subastas-sub{max-height: 300px}
		.height-espacio{height: 400px}
		.height-max-espacio{max-height:400px}
		.height-max-espacio-hover{max-height:300px}
		.height-img-espacios{height:500px}
		.txt-card{height:31px;overflow:hidden;}
		.border-gris{border:solid 2px #6c6c6c}
		.border-blaco{border: solid .2em #fff;}
		.titles{border-bottom:#6c6c6c solid 5px;}
		.title{border-bottom:#6c6c6c solid 5px;height:2.2em;padding:0;}
		.newslater{border:solid 4px #fff;padding:40px 0 15px 0}
		.width-50{width:50px}
		.width-80{width:80%}
		.width-86{width:86%}
		.new-input{border:solid transparent;border-bottom:#6c6c6c solid 1px;}
		.new-text{padding:25px 0;text-align:justify;}
		.cont-subasta{border:solid 4px #fff;}
		.subasta{background-color:#6c6c6c; border-top:solid 4px #fff; color:#fff; padding:18% 8% 14% 8%}
		.hr-70{border-top: 1px solid #999!important;width:70%!important}
		.hr-100-b{border-top: 1px solid #fff!important;width:100%!important}
		.hr-100{border-top: 1px solid #999!important;width:100%!important}
		.hr-40-b{border-top: 1px solid #fff;width:40%}
		.hr-20{border-top: 1px solid #999;width:20%}
		.hr-20-b{border-top: 1px solid #fff;width:20%}
		.hr-10{border-top: 1px solid #999;width:10%}
		.hr-4{border-top: 1px solid #999;width:4%}
		.hr-4-b{border-top: 1px solid #fff;width:4%}
		.border-izq{border:solid 2px #6c6c6c;}
		.border-der{border:solid 2px #6c6c6c;border-left:solid 4px #6c6c6c;}
		.border-pad5{border:solid 1px #fff;padding:5px}

		.input-contacto{border:solid transparent 1px;border-bottom:solid 1px #fff;background-color:transparent;color:#fff;width:98%;height:30px;font-size:14px; letter-spacing:4px}
		.input-contacto::-webkit-input-placeholder { /* Edge */
		  color:#fff; border: solid transparent!important;border-bottom:solid 1px #000;
		}
		.input-contacto:-ms-input-placeholder { /* Internet Explorer */
		  color:#fff;border: solid transparent!important;border-bottom:solid 1px #000;
		}
		.input-contacto::placeholder {
		  color:#fff;border: solid transparent!important;border-bottom:solid 1px #000;
		}
		.redes-contacto:hover{border: solid 1px #fff; background-color:#fff;border-radius:100%;width:30px;height:30px;}
		.redes-contacto:hover .redes-contacto-txt{color:#6c6c6c}
		.redes-contacto{border: solid 1px #6c6c6c; background-color:#6c6c6c;border-radius:100%;width:30px!important;height:30px}
		.redes-contacto .redes-contacto-txt{color:#fff;text-decoration:underline;}
		.cont-img{margin:0!important;border-bottom: #6c6c6c solid 5px;}

		.container-tienda-detalle{background:#6c6c6c;position:relative; z-index:1;width:44vw;margin-left:-21%; margin-top:6em;padding:50px;}
		.tienda-flechas{margin:0;padding:0}
		.tienda-flechas-izq{color:#fff;position:absolute!important; z-index:4; left: 100%;}
		.tienda-flechas-der{background:#fff;color:#000;position:absolute!important; z-index:4;top:19px;}
		.container-subasa-detalle{background:#6c6c6c;position:relative; z-index:1;width:44vw;margin-left:-21%; margin-top:6em;padding:50px;}
		.subasta-flechas{width:80%;position: absolute;}
		.subasta-flechas-izq{color:#fff; left: 100%;margin-top:70px!important}
		.subasta-flechas-der{background:#fff;color:#000;margin-top:32px!important}
		.btn-enviar{border:solid 1px #fff; background-color:transparent;padding:8px 20px}
		.cont-pol{padding:60px 20px}
		.politicas, .politicas p{ color: #666!important; font-size:14px!important; text-align:justify!important; padding-top:40px!important; font-weight:500;}
		.cont-pad-bg{background:#6c6c6c;margin:0; margin-top:40px}
		.direccion, .direccion p{margin:0;padding:0;}

		.uk-cover {max-width: none!important;position: absolute!important;left: 50%;top: 50%!important;transform: translate(-50%,-50%)!important;}

	/* VISTAS Vero css*/



/*  ---------- GENERALES    */
	.uk-pagination li{
		padding-left: 5px;
		margin: 5px;
		-webkit-box-shadow: 3px 0px 31px -8px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 0px 31px -8px rgba(0,0,0,0.75);
		box-shadow: 3px 0px 31px -8px rgba(0,0,0,0.75);
	}
	.uk-pagination a{
		padding: 2px 10px;

		color: @color_primario;
	}
	.uk-pagination .uk-active,
	.uk-pagination a:hover{
		background: @color_terciario;
		color: @color_primario;
		border: @color_terciario 1px solid;
	}
	.pagination-arrows{
		background: none!important;
		border: none!important;
		color: @color_primario!important;
	}
	.uk-lightbox .uk-slidenav{
		border-radius: 100px;
		color: white;
		background: @color_primario;
	}
	#cotizacion-fixed{
		top:0;
		right:0px;
		width:30px;
		z-index: 1011;
	}
	#cotizacion-fixed div{
		width: 40px;
		position: fixed;
		right: 0;
		top: 50%;
		margin-top: -150px;
	}
	#cotizacion-fixed img{
		box-shadow: 0 0 20px white;
		border-radius: 10px 0 0 10px;
	}
	a{
		text-decoration: none!important;
	}
	a,
	a:hover,
	.uk-navbar-nav > li > a,
	.uk-button,
	.uk-button:hover,
	.transicion,
	.transicion:hover{
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	h1{
		font-size: 1.2em;
	}
	h2{
		font-size: 1.1em;
	}
	h3,h4,h5,h6{
		font-size: 1em;
	}
	.alpha0{
		opacity: 0;
	}
	.claro,
	.alpha-1-5:hover{
		opacity:.6;
	}
	.oscuro,
	.alpha-1-0:hover{
		opacity:0;
	}
	.alpha-1-0,
	.alpha-1-5,
	.claro:hover,
	.oscuro:hover,
	.alpha1hover:hover{
		opacity: 1;
	}
	.margin-0{
		margin: 0;
	}
	.margin-left-0{
		margin-left: 0;
	}
	.margin-top-5{
		margin-top: 5px;
	}
	.margin-top-10{
		margin-top: 10px;
	}
	.margin-top-20{
		margin-top: 20px;
	}
	.margin-top-25{
		margin-top: 25px!important;
	}
	.margin-top-50{
		margin-top: 50px;
	}
	.margin-top-100{
		margin-top: 100px;
	}
	.margin-top-menos-150{
		margin-top: -150px;
	}
	.margin-top-menos-100{
		margin-top: -100px;
	}
	.margin-top-menos-50{
		margin-top: -50px;
	}
	.margin-top-menos-20{
		margin-top: -20px;
	}
	.margin-top-menos-10{
		margin-top: -10px;
	}
	.margin-bottom-30{
		margin-bottom: 30px;
	}
	.margin-bottom-50{
		margin-bottom: 50px;
	}
	.margin-h-5{
		margin-left: 5px;
		margin-right: 5px;
	}
	.margin-v-20{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.margin-v-25{
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.margin-v-40{
		margin-bottom: 40px;
		margin-top: 40px;
	}
	.margin-v-50{
		margin-bottom: 50px;
		margin-top: 50px;
	}
	.margin-v-70{
		margin-bottom: 70px;
		margin-top: 70px;
	}
	.margin-right-20{
		margin-right: 20px;
	}
	.margin-right-menos-50{
		margin-right: -45px;
	}
	.margin-right-menos-20{
		margin-right: -15px;
	}
	.padding-bottom-10{
		padding-bottom: 10px;
	}
	.padding-bottom-20{
		padding-bottom: 20px;
	}
	.padding-bottom-50{
		padding-bottom: 50px;
	}
	.padding-bottom-60{
		padding-bottom: 60px;
	}
	.padding-bottom-100{
		padding-bottom: 100px;
	}
	.padding-bottom-200{
		padding-bottom: 200px;
	}
	.padding-top-5{
		padding-top: 5px;
	}
	.padding-top-10{
		padding-top: 10px;
	}
	.padding-top-20{
		padding-top: 20px;
	}
	.padding-top-30{
		padding-top: 30px;
	}
	.padding-top-40{
		padding-top: 40px;
	}
	.padding-top-50{
		padding-top: 50px;
	}
	.padding-top-100{
		padding-top: 100px;
	}
	.padding-v-3{
		padding-bottom: 3px;
		padding-top: 3px;
	}
	.padding-v-5{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.padding-v-10{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.padding-v-20{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.padding-v-50{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.padding-v-100{
		padding-bottom: 100px;
		padding-top: 100px;
	}
	.padding-left-10{
		padding-left: 10px;
	}
	.padding-left-20{
		padding-left: 20px;
	}
	.padding-left-50{
		padding-left: 50px;
	}
	.padding-left-100{
		padding-left: 100px;
	}
	.padding-right-10{
		padding-right: 10px;
	}
	.padding-right-20{
		padding-right: 20px;
	}
	.padding-right-50{
		padding-right: 50px;
	}
	.padding-h-5{
		padding-left: 5px;
		padding-right: 5px;
	}
	.padding-h-10{
		padding-left: 10px;
		padding-right: 10px;
	}
	.padding-h-20{
		padding-left: 20px;
		padding-right: 20px;
	}
	.padding-h-30{
		padding-left: 30px;
		padding-right: 30px;
	}
	.padding-h-50{
		padding-left: 50px;
		padding-right: 50px;
	}
	.padding-h-70{
		padding-left: 70px;
		padding-right: 70px;
	}
	.padding-0{
		padding: 0px;
	}
	.padding-5{
		padding:5px;
	}
	.padding-10{
		padding:10px;
	}
	.padding-15{
		padding:15px;
	}
	.padding-20{
		padding:20px;
	}
	.padding-30{
		padding:30px;
	}
	.padding-50{
		padding:50px;
	}
	.min-height-150px{
		min-height: 150px;
	}
	.min-height-250px{
		min-height: 250px;
	}
	.max-height-300px{
		max-height: 300px;
	}
	.min-height-500px{
		min-height: 500px;
	}
	.max-width-200{
		max-width: 200px;
	}
	.max-width-600{
		max-width: 600px;
	}
	.pointer{
		cursor: pointer;
	}
	#map{
		min-height: 400px;
	}
	.text-5{
		font-size: .5em;
	}
	.text-6{
		font-size: .6em;
	}
	.text-xs,
	.text-7{
		font-size: .7em;
	}
	.text-8{
		font-size: .8em;
	}
	.text-sm,
	.text-9
	{
		font-size: .9em;
	}
	.text-11
	{
		font-size: 1.1em;
	}
	.text-lg{
		font-size: 1.2em;
	}
	.text-xl{
		font-size: 1.5em;
	}
	.text-xxl{
		font-size: 2em;
	}
	.text-xxxl{
		font-size: 3em;
	}
	.text-v{
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
	.z1{
		z-index: 1;
	}
	.z2{
		z-index: 2;
	}
	textarea{
		resize:none;
	}

	/* BOTONES */
	.uk-button{
		font-weight: 700;
		text-transform: none;
	}

	/* Danger */
	.uk-button-danger{
		background: #f00;
		color: #fff;
	}
	.uk-button-danger:active,
	.uk-button-danger.uk-active,
	.uk-button-danger:hover,
	.uk-button-danger:focus{
		background: #a00;
		color: #fff;
	}

	/*  Blanco */
	.uk-button-white {
	  background-color: #fff;
	  color: #333;
	  border: 1px solid #fff;
	}
	/* Hover + Focus */
	.uk-button-white:hover,
	.uk-button-white:focus,
	.uk-button-white:active,
	.uk-button-white.uk-active {
	  background-color: #ddd;
	  color: #000;
	}

	/* Personal */
	.uk-button-personal {
		  background: @color_primario;
		  color: white;
		  border: solid 2px @color_primario;
	}
	/* Hover + Focus */
	.uk-button-personal:active,
	.uk-button-personal.uk-active,
	.uk-button-personal:hover,
	.uk-button-personal:focus {
		  background-color: white;
		  border: solid 2px @color_primario;
		  color: @color_primario;
	}
	.uk-lightbox {
		background: rgba(0,0,0,.7)!important;
	}
	.uk-notification-message{
		background: none!important;
		color: white;
		text-align: center;
	}
	.uk-notification-message div{
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 10px;
	}


/* ----------- CHAT DE WHATSAPP  */
	#whatsapp-plugin{
		background: url(/img/design/whats-bg.jpg);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		width: 300px;
		position: fixed;
		bottom: 0;
		right: 30px;
		border-radius: 10px 10px 0 0;
	}
	#whats-show{
	    background-color: rgb(9, 94, 84);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		color: white;
		position: fixed;
		bottom: 30px;
		right: 30px;
		padding: 10px 13px;
	}
	#whats-head{
	    background-color: rgb(9, 94, 84);
		border-radius: 10px 10px 0 0;
		line-height: 18px;
	}
	#whats-body-1{
		box-sizing: border-box;
		height: 120px;
	}
	#whats-body-2{
		background: url(/img/design/whats-globo.png) no-repeat center left;
		box-sizing: border-box;
		font-size: 13px;
		height: 100px;
		padding: 33px 0 0 35px;
		height: 120px;
	}
	#whats-footer{
		background: white;
		height: 60px;
	}
	#button-whats{
		background: rgb(79, 206, 93);
		color: white;
		border-radius: 50px;
	}
	/* SCROLL */
	::-webkit-scrollbar {
	  width: 8px;
	}
	/* Track */
	::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 0 transparent;
	  border-radius: 8px;
	  background: transparent;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
	  border-radius: 8px;
	  background: #CCC;
	}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: transparent;
	}

/* ----------- XML SITE MAP */
	urlset{
		background: url(/img/design/logo.png) no-repeat top center @color_primario;
		padding-top: 110px;
	}
	url {
		background: #fff;
		display: block;
		padding: 10px
	}
	loc{
		display: block;
		margin: 0 auto;
		width: 1200px;
	}

/* ----------- MEDIA QUERY  */
	@media (min-width: 1800px){
	}
	@media (max-width: 1600px){/*Tamaño xl*/
	}
	@media (max-width: 1400px){
		.height-index-espacio{height:180px;}
		.height-subastas-sub{height: 250px}
		.height-max-subastas-sub{max-height:250px}
		.height-img-espacios{height:310px}
	}
	@media (max-width: 1200px){/*Tamaño l*/
		.width-100{width:100%}
		.width-86{width:100%}
		.txt-30 {font-size: 20px;}
		.container-tienda-detalle{ width: 40vw;}
		.height-index-espacio{height:100px;}
		.height-index-subasta{height: 12em;}
		.height-subastas-sub{height: 200px}
		.height-max-subastas-sub{max-height:200px}
	}
	@media (max-width: 960px){ /*Tamaño m*/
		.no-pad-mar{margin:0!important;padding:5px!important}
		.container-subasa-detalle{ width: 40vw;margin-left:0;}
		.pad-r-m-0{padding-right: 0!important;}
		.height-14o5 {height: auto;}
		.height-index-espacio{height:300px;}
		.width-86{width:100%}
		.ancho{width:100%}
		.center-m{
			margin:auto!important;
			padding:auto!important;
			text-align:center;
		}
		.height-index-subasta{height:20em;}
		.container-subasa-detalle{margin-top: 1em;width:82vw;margin-left: 0;}
		.height-subastas-sub{height: 300px}
		.height-max-subastas-sub{max-height:300px}
		.subasta-flechas-izq{color:#000;}
		.height-560-nosotros{height:50vw}
	}
	@media (max-width: 820px){
		.height-index-espacio{height:200px;}
		.width-100-detalle{width:100%}
		.container-tienda-detalle,.container-subasa-detalle {width:auto; margin-left:0;}
		.height-subastas-sub{height: 250px}
		.height-max-subastas-sub{max-height:250px}
		.container{margin:0!important;padding:0!important;border:solid pink;}
		.cont-pol{padding:20px 10px}
		.politicas, .politicas p{padding-top:10px!important;}
		.cont-pad-bg{margin:0!important;padding:0!important;}

	}
	@media (max-width: 640px){/* Tamaño s*/
		.height-index-espacio{height:250px;}
		.height-subastas-sub{height: 200px}
		.height-max-subastas-sub{max-height:200px}
		.card-sub-width-m-100{width:100%!important}
	}
	@media (max-width: 550px){
	}

